if task && task.dents
  each side, dents in task.dents
    - html += `<div class="image-container__summary">
                  <img id="vehicleImage" src="pics/sides_pics/#{side}.png" />`
    each dent in dents
      - let { shape, length, orientation, paintDamaged, coords } = dent
      - let markerStyle = `left: ${coords.x - 1}%; top: ${coords.y - 3}%;`
      - if (shape === 'line')
        - markerStyle += `width: 2rem; border-radius: 0.8rem; transform: rotate(${orientation});`
      - let markerClass = "marker"
      - if (paintDamaged === 'yes') markerClass += " paint-damaged"
      - if (length === 'small') markerClass += " small"
      - else if (length === 'medium') markerClass += " medium"
      - else if (length === 'big') markerClass += " big"
      - html += `<div class="${markerClass}" style="${markerStyle}">`
      - if (paintDamaged === 'yes')
        - html += `<span>X</span>`
      - html += `</div>`
    - html += `</div>`
  html