//- extends base

//- block content
//-   main.main
//-     .task-container
//-       each task in tasks
//-         .task
//-           .column= task.carModel
//-           .column= task.difficulty
//-           .column= task.taskStatus
//-           .column= task.createdAt.toLocaleDateString('en-GB')


extends base
block styles
  link(rel="stylesheet" href="/css/style.css")
block content
  header.header
    nav.nav.nav--user
      button.nav__el.nav__el--myacc
        img(src="user.png", alt="AccIcon")
  div.modal.hidden
    div.modal__content
      a.modal__link(href="/me") My profile
      a.modal__link(href="/") Send new task
      a.modal__link(href="/tasks") My tasks
      a.modal__link.logout(href="#") Log out
  .main-container
    .filter-menu
        .filter-date
          label(for='from-date') From:
          input(type='date', id='from-date', value=from)
          label(for='to-date') To:
          input(type='date', id='to-date', value=to) 
        .filter-status Status:  
          select#status-filter
            option(value='' selected=status === '') All
            option(value='open' selected=status === "open") Open
            option(value='complete' selected=status === "complete") Paid
            option(value='pending' selected=status === "pending") Complete/Not paid
            option(value='in-progress' selected=status === 'in-progress') In Progress
    - if (role === 'user')
      table.task-table
        thead
          tr
            th Vehicle Model
            th Task Status
            th Total Cost
            th Date
        tbody
          each task in tasks
            tr
              td: a(href=`/tasks/${task._id}` class='table-link')= task.carModel
              td= task.taskStatus
              td= task.totalCost
              td= new Date(task.createdAt).toLocaleDateString('en-US', { month: 'short', day: '2-digit', year: 'numeric' })
    - if (role === 'admin') 
      //- .search-bar
      //-   input(type='text', placeholder='Search customer...', id='search-input')

      table.task-table
        thead
          tr
            th Customer
            th Vehicle Model
            th Task Status
            th Total Cost
            th Date
        tbody
          each task in tasks
            tr
              td: a(href=`/users/${task.user.id}` class='table-link')= task.user.name
              td: a(href=`/tasks/${task._id}` class='table-link')= task.carModel
              td= task.taskStatus
              td= task.totalCost
              td= new Date(task.createdAt).toLocaleDateString('en-US', { month: 'short', day: '2-digit', year: 'numeric' }) 
    div.pagination-buttons
    if page > 1
      button.previous-button() Previous
      //- if page < totalPageCount
    if tasks.length === limit
      button.next-button() Next
    button.download-report Download Report
      //- a(href='/generate-report') Download Report 

     
  .overlay.hidden            


