extends base

block styles
  link(rel="stylesheet" href="/css/style.css")
block content
  header.header
      button.nav__el.nav__el--myacc
        img(src="../user.png", alt="AccIcon")
  div.modal.hidden
    div.modal__content
      a.modal__link(href="/me") My profile
      a.modal__link(href="/") Send new task
      a.modal__link(href="/tasks") My tasks
      a.modal__link.logout(href="#") Log out
  .main-container
    .task-header
      if role === 'admin'
        p Customer: #{customer}
      p Model: #{model}
      p Task created: #{date}
      .task-status-wrapper
        
        if role === 'admin' 
          p Task status:  
          select.task-status-select
            option(value="open", selected=taskStatus === "open") Open
            option(value="in-progress", selected=taskStatus === "in-progress") In Progress
            option(value="pending", selected=taskStatus === "pending") Complete/Not paid
            option(value="complete", selected=taskStatus === "complete") Paid
        if role === 'user'
          p Task status: #{taskStatus}
    != dentsHTML
    table.task-table
        thead
          tr
            th Dent number
            //- th Task Status
            th Cost
        tbody
          each dent in dents
            tr(data-dent-id=dent._id data-task-id=taskId)
              td= dent.markerNumber
              //- td
              //-   select(name="status", class="dent-status-select")
              //-     option(value="open", selected=dent.status === "open") Open
              //-     option(value="in-progress", selected=dent.status === "in-progress") In Progress
              //-     option(value="complete", selected=dent.status === "complete") Complete
              if role === 'admin'
                td €  
                  input(type="text", value=dent.cost, name="cost", class='dent-cost', data-dent-id=dent._id, data-task-id=taskId)
              if role === 'user'   
                td= dent.cost
    
                       
                   
    button(type="button" class='back-tasks') Back to tasks           
  .overlay.hidden
            